{% extends '::base.html.twig' %}

{% block title %} Posts {% endblock %}
{% block body %}
    <h1> Posts</h1>
    {% for posts in post %}
        <div class="panel panel-primary">
        <div class="panel-body">
            <tr>
                <td>{{ posts.id }}</td> <br>
                <b>Usuario:</b> <td>{{ posts.user }}</td> <br>
                <b>Titulo:</b> <td>{{ posts.titulo }}</td> <br>
                <b>Mensaje:</b> <br> <td>{{ posts.mensaje }}</td> <br>
                <td>{{ posts.createdAt|date('d/m/Y H:i:s') }}</td> <br>
                <td>{{ posts.updatedAt|date('d/m/Y H:i:s') }}</td> <br>
                {% if (app.user == posts.user) or (app.user == "Marc")%}
                    <td><a class="btn btn-primary" href="{{ path('app_post_update', {'id': posts.id}) }}">actualizar</a> </td>
                    <td><a class="btn btn-default" href="{{ path('app_post_remove', {'id': posts.id}) }}">eliminar</a> </td> <br>
                {% endif %}
            </tr>
        {% for Comentario in posts.getComentario %}

            <div class="panel panel-default">
            <div class="panel-body">
            Id:       {{ Comentario.id }}<br>

            Comentario:    {{ Comentario.comment }}<br>


            {% if app.user == Comentario.usuario or app.user == "Marc" %}
                <a class="btn btn-primary" href="{{ path('app_comment_update', {'id' : Comentario.id}) }}">Editar&nbsp;</a>
                <a class="btn btn-default" href="{{ path('app_comment_remove', {'id' : Comentario.id}) }}">Borrar</a>
            {% endif %}
            </div>
            </div>
        {% endfor %}
        </div>
        <a class="btn btn-success" href="{{ path('app_comment_add', {'id': posts.id})}}">  Añadir comentario</a>
        </div>
        <br><br>
    {% endfor %}

    <div style="margin-top: 10px">
        <a class="btn btn-success" href="{{ path('app_post_add') }}">Añadir un post nuevo</a>
    </div>
{% endblock %}